.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #e2e7f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nvb {
  text-decoration: none;
  /* border: 1px solid; */
  padding: 10px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  border-radius: 10px;
  color: black;


}
a:hover {
  color: rgb(66, 39, 53);

}
.somecla{max-width: 1050px;margin: 0 auto;}
.somcla2{max-width: 1050px;margin: 0 auto;}
.productpage{margin-top: 70px;}
